# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: format
        name: format
        entry: dart format ./lib
        language: system
        files: \.(?:dart)$
        types: [file]
      - id: analyze
        name: analyze
        entry: flutter analyze
        language: system
