name: Continuous integration

permissions:
  contents: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Alexandria build

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Configure Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.26.0
      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Check Prettier
        run: ./node_modules/.bin/prettier --check .

      - name: Check Eslint
        run: ./node_modules/.bin/eslint .

      - name: Check Typescript
        run: ./node_modules/.bin/tsc --noEmit

      - name: Execute tests
        run: ./node_modules/.bin/vitest --reporter junit --outputFile=./test-report.xml

      - name: Tests report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}
        with:
          name: Tests
          path: ./test-report.xml
          reporter: jest-junit
